.container{
    width:  100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer-content{
    width: 20%;
}

h4 {
    color:#FF8C00;
    margin-bottom: 25px;
    text-align: center;
}

.footer-content p{
    width:190px;
    margin: auto;
    padding: 7px;
    text-align: left;
    color:  #FFFFFF;
}

.footer-content ul{
    text-align: center;
}

.logo-footer {
    cursor:pointer;
    height: 100px;
    padding-bottom: 10px;
}

.redes{
    text-align: center;
    padding-top: 0;
}

.redes li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.redes i{
    color: #FF8C00;
    font-size: 14px;
}

a{
    text-decoration: none;
}