.container{
    width:  100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer-content{
    width: 20%;
}

h4 {
    color:#FF8C00;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-bottom: 25px;
    text-align: left;
    text-decoration: none;
}

p {
    color: #FFFFFF;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    opacity: 1;
}


.footer-content ul{
    text-align: center;
}

.logo-footer {
    cursor:pointer;
    height: 100px;
    padding-bottom: 10px;
}

.redes{
    text-align: center;
    padding-top: 0;
}

.redes li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.redes i{
    color: #FF8C00;
    font-size: 14px;
}

a{
    text-decoration: none;
}