@import url('https://fonts.googleapis.com/css2?family=Montserrat:500');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 2%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    height: 85px;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #95989A;
    opacity: 1;
}

footer {
    width:  100%;
    background:transparent linear-gradient(90deg, #007ACC 0%, #007ACB 27%, #0069AF 73%, #003D66 100%) 0% 0% no-repeat padding-box; 
    justify-content: center;
    margin-top: auto;
    padding: 50px;
}

body {
    margin: 0;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

:root {

/* Colors: */
--azul-formas: #F1F9FF;
--gris-fondo: #F5F5F5;
--gris: #707070;
--blanco: #FFFFFF;
--primario: #007ACC;
--secundario: #FF8C00;

/* Font/text values */
--unnamed-font-family-montserrat: Montserrat;
--unnamed-font-style-normal: normal;
--unnamed-font-style-italic: italic;
--unnamed-font-weight-600: 600px;
--unnamed-font-weight-normal: normal;
--unnamed-font-size-15: 15px;
--unnamed-font-size-18: 18px;
--unnamed-font-size-20: 20px;
--unnamed-font-size-30: 30px;
--unnamed-font-size-36: 36px;
--unnamed-character-spacing-0: 0px;
--unnamed-line-spacing-12: 12px;
--unnamed-line-spacing-24: 24px;
--unnamed-line-spacing-30: 30px;
--unnamed-line-spacing-42: 42px;
--unnamed-line-spacing-50: 50px;
}

/* Character Styles */
.fpi-montserrat-—-15pt {
font-family: var(--unnamed-font-family-montserrat);
font-style: var(--unnamed-font-style-italic);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-15);
line-height: var(--unnamed-line-spacing-24);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--blanco);
}
.fp-montserrat-—-15pt {
font-family: var(--unnamed-font-family-montserrat);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-15);
line-height: var(--unnamed-line-spacing-24);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--blanco);
}
.fh1-montserrat-—-15pt {
font-family: var(--unnamed-font-family-montserrat);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-600);
font-size: var(--unnamed-font-size-15);
line-height: var(--unnamed-line-spacing-12);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--secundario);
}
.h2-montserrat-—-30pt {
font-family: var(--unnamed-font-family-montserrat);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-30);
line-height: var(--unnamed-line-spacing-42);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--secundario);
}
.h3i-montserrat-—-20pt {
font-family: var(--unnamed-font-family-montserrat);
font-style: var(--unnamed-font-style-italic);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-20);
line-height: var(--unnamed-line-spacing-30);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--blanco);
}
.h1-montserrat-—-36pt {
font-family: var(--unnamed-font-family-montserrat);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-36);
line-height: var(--unnamed-line-spacing-50);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--primario);
}
.pi-montserrat-—-18pt {
font-family: var(--unnamed-font-family-montserrat);
font-style: var(--unnamed-font-style-italic);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-18);
line-height: var(--unnamed-line-spacing-30);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--primario);
}
.p-montserrat-—-18pt {
font-family: var(--unnamed-font-family-montserrat);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-18);
line-height: var(--unnamed-line-spacing-24);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--primario);
}