* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

body {
    margin: 0;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 2%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    height: 85px;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #95989A;
    opacity: 1;
}