{% extends "index.html" %}
{% block content %}
<!--Estilos de CSS-->
<link rel="stylesheet" href="/static/css/cotizar.css">

<section class="contacto">
    <div class="circulo">
        <div class="txt-1">
            <h1>Elige cómo contactarnos contigo para llevar a cabo la cotización</h1>
        </div>
        <div class="txt-2">
            <h4>Tenemos diferentes medios, podemos comunicarnos contigo con el que prefieras</h4>
        </div>
        <div class="txt-3">
            <h3>Obtén una cotización personalizada para tu proyecto de desarrollo de software. Elige como podríamos contactarnos y descubre cómo podemos convertir tus ideas en soluciones digitales innovadoras.</h3>
        </div>
    </div>
    <div class="botones__contacto">
        <div class="whatsapp">
            <h1>WhatsApp</h1>
            <button>Mensaje</button>
        </div>
        <div class="separador">
        </div>
        <div class="correo">
            <h1>Correo</h1>
            <button>Te contactamos</button>
        </div>
        <div class="separador">
        </div>
        <div class="enlinea">
            <h1>En línea</h1>
            <button>Comunicar agente</button>
        </div>
    </div>
</section>

{% endblock %}