<!--Estilos de CSS-->
<link rel="stylesheet" href="/static/css/footer.css">
<footer class="footer">
    <div class="grupo">
        <div class="box">
            <h4>COMIENZA UN PROYECTO CON NOSOTROS</h4>
            <p>Listos para un desafío</p>
            <p>contacto@orbitalcode.dev</p>
        </div>
        <div class="box">
            <h4>ESCRÍBENOS ALGO A NUESTRO WHASTAPP</h4>
            <p>Colombia, Risaralda, Pereira</p>
            <p>+57 323 334 6384</p>
        </div>
        <div class="box">
            <h4>TRABAJA CON NOSOTROS</h4>
            <p>Si consideras que nos puede interesar tu talento</p>
            <p>talento@orbitalcode.dev</p>
        </div>
        <div class="box">
            <h4>Suscríbete para más información</h4>
        </div>
        <div class="box">
            <a href="#">
                <img class="logo-footer" src="/static/images/solo_LOGO.png">
            </a>
            <div class="redes">
                <a>

                </a>
            </div>
        </div>
    </div>
</footer>