{% extends "index.html" %}
{% block content %}
<!--Estilos de CSS-->
<link rel="stylesheet" href="/static/css/inicio.css">
    <section class="orbital">
        <div class="circular__image">
            <img src="/static/images/una-foto-de-una-zona-con-computadores-con-codigos.jpg" alt="" >
            
        </div>
        <div class="cilindro__contenedor">
            <div class="title">
                <h1>ORBITAL CODE</h1>
            </div>
            <div class="cuerpo">
                <h2>Conectamos el futuro y desarrollamos la solución tecnológica que necesitas.</h2>
            </div>
            <div class="boton">
                <button class="more">SABER MÁS</button>
            </div>
            </div>
        </div>
    </section>
{% endblock %}