{% extends "index.html" %}
{% block content %}
<!--Estilos de CSS-->
<link rel="stylesheet" href="/static/css/inicio.css">

    <section class="orbital">
        <div class="picture">
            <div class="circular__image">
                <img src="/static/images/una-foto-de-una-zona-con-computadores-con-codigos.jpg" alt="">
            </div>
        </div>
        <div class="content">
            <div class="cilindro__contenedor">
                <div class="title">
                    <h1>ORBITAL CODE</h1>
                </div>
                <div class="cuerpo">
                    <h2>Conectamos el futuro y desarrollamos la solución tecnológica que necesitas.</h2>
                </div>
                <div class="boton">
                    <button class="more">SABER MÁS</button>
                </div>
            </div>
        </div>
    </section>

    <section class="devweb">
            <div class="title__web">
                <h1>Tú Visión, Nuestro <span class="naranja">Desarrollo web</span>: Transforma Tu Presencia Digital con <span class="naranja">ORBITAL CODE</span>.</h1>
            </div>
            <div class="parrafos">
                <div class="texto">
                    <p>Bienvenido a Orbital Code S.A.S, tu socio confiable en el mundo del desarrollo web. Nos especializamos en crear experiencias digitales excepcionales que cautivan a tu audiencia y potencian tu presencia en línea. Desde elegantes sitios web corporativos hasta aplicaciones web personalizadas, nuestro equipo de expertos en desarrollo web está comprometido en convertir tus ideas en realidad, combinando creatividad, funcionalidad y un enfoque centrado en el usuario para ofrecer soluciones web de vanguardia.</p>
                </div>
                <div class="texto">
                    <p>En Orbital Code S.A.S, entendemos que cada proyecto es único, por lo que personalizamos nuestras soluciones para cumplir con tus objetivos específicos. Ya sea que estés iniciando un nuevo negocio, actualizando tu presencia en línea o buscando integrar funciones avanzadas, estamos aquí para proporcionarte un desarrollo web que destaque y genere impacto. Descubre el poder de una presencia digital efectiva con nosotros y lleva tu proyecto al siguiente nivel.</p>
                </div>
            </div>
    </section>

    <section class="devmovil">
        <div class="contenedor__movil">
            <div class="title__movil">
                <h1><span class="naranja">Desarrollo Móvil</span></h1>
                <h1>Personalizado de Apps para Transformar tu Experiencia Digital</h1>
            </div>
            <div class="explicacion">
                <p>Explora el potencial ilimitado de tu idea con Orbital Code S.A.S, tu aliado confiable en el desarrollo móvil. Desde aplicaciones intuitivas hasta soluciones personalizadas, nuestro equipo de expertos está dedicado a convertir tus conceptos en experiencias móviles impactantes. Con un enfoque centrado en la innovación y la usabilidad, te ofrecemos soluciones móviles que no solo cumplen, sino que superan tus expectativas.</p>
                <p>En Orbital Code, entendemos que cada aplicación cuenta una historia única. Nos especializamos en personalizar el desarrollo móvil para satisfacer las necesidades específicas de tu proyecto. Ya sea que estés lanzando una nueva app o mejorando una existente, estamos aquí para potenciar tu presencia en el mercado móvil. Descubre el mundo de posibilidades que ofrecemos y lleva tu aplicación al siguiente nivel de funcionalidad y éxito.</p>
            </div>

            <div class="enfoques">
                <h2>Dos enfoques de desarrollo diferentes, las cuales puedes abordar con nosotros...</h2>
            </div>
        </div>

        <div class="contenedor__desarrollo">
            <div class="mutiplatform">
                <div class="img__">
                    <img src="/static/images/Iconomovil.png" alt="Ícono Móvil">
                </div>
                <div class="text__multi">
                    <h1>Desarrollo multiplataforma</h1>
                    <h2>Mayor alcance</h2>
                    <p>El desarrollo multiplataforma simplifica la creación de aplicaciones al permitir que un solo código funcione en varias plataformas. Esto ahorra tiempo y costos, garantizando una experiencia de usuario coherente en diferentes dispositivos y facilitando las actualizaciones.</p>
                </div>
            </div>
            <div class="nativo">
                <div class="img__android">
                    <img src="/static/images/Android icono.png" alt="Android Icono">
                </div>
                <div class="img__ios">
                    <img src="/static/images/ios icono.png" alt="IOS Icono">
                </div>
                <div class="text__nativo">
                    <h1>Desarrollo nativo</h1>
                    <h2>Mejor rendimiento</h2>
                    <p>El desarrollo nativo ofrece un rendimiento y una integración específicos para cada plataforma, optimizando la experiencia del usuario. Aunque puede requerir más tiempo y recursos, proporciona un alto nivel de control y rendimiento, adaptándose perfectamente a las características únicas de cada sistema operativo.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}