{% url 'inicio' as inicio %}
{% url 'nosotros' as nosotros %}
{% url 'contacto' as contacto %}
{% url 'cotizar' as cotizar %}

<!--Estilos de CSS-->
<link rel="stylesheet" href="/static/css/navbar.css">

    <img class="logo" src="/static/images/LOGO_completo_sin_fondo.png" alt="Logo">
    <nav>
      <ul class="navbar-items">
          <li><a href="{{inicio}}">Inicio</a></li>
          <li><a href="{{contacto}}">Contacto</a></li>
      </ul>
    </nav>
    <a href="{{cotizar}}" class="cta"><button>COTIZAR</button></a>